.banner {
    background-image: url(../../assets/img/banner/businessman-holding-light-bulb.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height: 430px;
    width: 100%;
    vertical-align: middle;
}

.banner .opacity {
        background-size: 100%;
        background-color: rgb(33,33,33);
        opacity: 0.6;
        width: 100%;
        height: 430px;
        position: absolute;
}

.banner .slogan {
    display: inline-flex;
    color: #fff;
    font-weight: 300;
    font-size: 24.0pt;
    width: 100%;
    text-align: right;
    margin-top: 200px;
    word-wrap: break-word;
    text-size-adjust: 100%;
    position: absolute;
}

.banner .slogan h2 {
    width: 645px;
    padding: 10px;
    color: #FFF;
    margin-left: 18%;
}

.banner .slogan span {
    font-weight: bold;
}