.how-it-works main {
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.how-it-works main div {
    width: 400px;
}

.how-it-works main img {
    background-color:transparent;
    width: 365px;
    height: 228px;
    padding: 10px;
}

.how-it-works main h3 {
    padding-left: 15px;
    width: 370px;
    font-weight: 500;
    font-size: 24px;
    color: rgba(35,7,70,1);
}

.how-it-works main p {
    padding-left: 15px;
    width: 360px;
}
