.our-business main {
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-business .content {
    width: 55%;
    display: flex;
    justify-content: inherit;
    flex-wrap: wrap;
}

.our-business main img {
    background-color:transparent;
    width: 365px;
    height: 228px;
    padding: 10px;
}

.our-business main h3 {
    margin: 20px;
    width: 386px;
    font-weight: 500;
    font-size: 24px;
    color: rgba(35,7,70,1);
}

.our-business main p {
    margin: 24px;
    width: 386px;
}

