.title {
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 40px;
    color: rgba(35,7,70,1);
    margin-top: 40px;
    margin-bottom: 25px;
}

.subtitle {
    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
}

.emphasis {
    display: block;
    background-color: rgba(137,109,172,1);
    padding: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF;
}

.title-image h3 {
    font-weight: 500;
    font-size: 24px;
    color: rgba(35,7,70,1);
}

.description-image {
    
}