.title {
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 40px;
    color: rgba(35,7,70,1);
    margin-top: 40px;
    margin-bottom: 25px;
}

.subtitle {
    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
}